SECRET_KEY=change-this-to-a-secure-random-secret-key-for-dev-environment
DEBUG=false
DEPLOY_ENV=dev
APP_NAME=yuvro-marketplace
JWT_SECRET_KEY=change-this-to-a-secure-random-secret-key-for-dev-environment
YHUB_BACKEND_API_BASE_URL=https://backend-hub-dev.yuvro.ai/api

DATABASE_URL=postgres://user:password@rds-host:5436/yuvro_marketplace_db

ALLOWED_HOSTS=backend-marketplace.yuvro.ai,marketplace.yuvro.ai,localhost
CORS_ALLOWED_ORIGINS=https://marketplace.yuvro.ai
FRONTEND_URL=https://marketplace.yuvro.ai

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=yuvro-marketplace-media-dev
AWS_S3_REGION_NAME=ap-south-1

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

OTEL_ENABLED=false
OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4317
OTEL_SERVICE_NAME=yuvro-marketplace-backend-dev
OTEL_SERVICE_VERSION=1.0.0

PROMETHEUS_METRICS_PORT=9001

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.hostinger.com
EMAIL_PORT=465
EMAIL_USE_SSL=True
EMAIL_USE_TLS=False
EMAIL_HOST_USER=contact@yuvro.ai
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=contact@yuvro.ai
EMAIL_LOGO_URL=

